@page "/Details"
@inject MetasServices metasServices
@rendermode InteractiveServer


<PageTitle>Detalles Metas</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h3><strong>Consulta Metas</strong></h3>
            <div class="d-flex align-items-start ">

                <div class="px-2">
                    <a class="btn btn-success bi bi-cc-circle-fill" href="/Create"><em>Crear</em></a>

                </div>
               
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>MetaId</th>
                        <th>Fecha</th>
                        <th>Descripci&oacuten</th>
                        <th>Monto</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var meta in ListaMetas)
                    {
                        <tr>
                            <td>@meta.MetaId</td>
                            <td>@meta.Fecha.ToShortDateString()</td>
                            <td>@meta.Descripcion</td>
                            <td>@meta.Monto.ToString("N2")</td>
                            <td><a class="btn btn-primary" href="/Edit/metasId=@meta.MetaId"><em>Editar</em></a></td>
                            <td><a class="btn btn-danger" href="/Delete/metasId=@meta.MetaId"><em>Eliminar</em></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    public Metas metas { get; set; } = new Metas();

    public List<Metas> ListaMetas { get; set; } = new List<Metas>();

    protected override async void OnInitialized()
    {
        ListaMetas = await metasServices.GetList(l => true);
    }
}
